include README.rst
include LICENSE
exclude .coverage
exclude log.txt
exclude sql-log.txt
recursive-include static *
recursive-include templates *
recursive-include */fixtures *.json
recursive-include */templates *
recursive-exclude *.pyc
recursive-exclude *.pyo