* {
    margin: 0;
    padding: 0;
}

.header {
    height: 110px;
}

.footer {
    font-size: 10px;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 20px;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.content {
    min-height: 200px;
}

.tests-list {
    margin: 10px 0 10px 25px;
}

.created-at {
    text-align: right;
    font-size: 12px;
    color: grey;
}
.description {
    margin-left: 10px;
    text-align: justify;
}
.answers {
    margin: 5px;
}
.questions {
    margin: 10px 20px;

}
.error {
    border: 1px solid red;
    background-color: yellow;
    padding: 3px;
    margin: 10px 0;
    text-align: center;
}

.header-txt {
    font-size: 30px;
    letter-spacing: 20px;
    text-align: center;
    padding: 20px;
}
.header-links {
    display: block;
    text-align: right;
    background-color: #F8F8F8;
}

div label {
    font-weight: normal;

}

.form-login {
    width: 400px;
    margin: 20px auto;
}
.inline-block {
    display: inline-block;
}

.form-create {
    padding: 20px;
    width: 660px;
    margin: 0 auto;
}

.form-create .control-label {
    width: 200px;
}

.form-create .errors {
    padding: 20px 0 0 20px;
    font-weight: bold;
    width: 500px;
    margin: 0 auto;
}