{% extends "main.html" %}
{% load site_menu %}
{% block menu %}
    {% site_menu item=4 %}
{% endblock %}
{% block content %}
<br>
<br>
<form action="{% url 'contact' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
{{form.non_field_errors}}
<div class="form-group {% if form.sender.errors %}has-error{% endif%}">
    <label for="sender" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-7">
      <input type="email" class="form-control" id="sender" name="sender" placeholder="Email" value="{{form.data.email}}">
    </div>
    <div class="col-sm-3">{{form.sender.errors}}</div>
</div>
<div class="form-group {% if form.subject.errors %}has-error{% endif%}">
    <label for="subject" class="col-sm-2 control-label">Subject</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" value="{{form.data.subject}}">
    </div>
    <div class="col-sm-3">{{form.subject.errors}}</div>
</div>

<div class="form-group {% if form.message.errors %}has-error{% endif%}">
    <label for="message" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-7">
      <textarea class="form-control" rows="3" id="message" name="message" placeholder="Your message...">{{form.data.message}}</textarea>
    </div>
    <div class="col-sm-3">{{form.message.errors}}</div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-7">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="cc_self" chk="{{form.data.cc_self}}"> Send me a copy also
        </label>
      </div>
    </div>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-link">Reset</button>
</div>
</form>
{% endblock %}