<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dj</title>
    <link href="{% static 'personalitytests/css/main.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'survey/css/survey.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header-links">
            {% block headerlinks %}
                {% if user.is_authenticated %}
                <form class="inline-block" method="POST" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-link" type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="btn btn-link" type="submit">Login</a>
                {% endif %}
            {% endblock %}
        </div>
        <p class="header-txt">NICE HEADER</p>
    </header>
    <nav>
        {% block menu %}
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{% url 'pers:tests_list' %}">Tests</a></li>
            <li><a href="{% url 'survey:list' %}">Surveys</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        {% endblock %}
    </nav>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="content">
        {% block content %}
        <p>Cool content here</p>
        {% endblock %}
    </div>

    <footer class="footer">
        really nice footer
    </footer>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block asyncjs %}
{% endblock %}
</body>
</html>