{% extends "personalitytests/main.html" %}
{% load pers_tests %}
{% block content %}
<h3>{{test.name}}</h3>
<br>
{{test.description}}
{% if unanswered_q %}
<div class="error">You have some unanswered questions (marked in red).</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}

    <ol class="questions">
        {% for question in questions %}
        <li {% if question.id in unanswered_q %}
                class="red"
            {% endif %}
                > {{ question.question }}<br>
                {% for ans in question.answer_set.all %}
                <div class="answers">
                    <input type="radio" name="answers[{{question.id}}]"
                           id="ans{{ans.id}}" value="{{ans.id}}"
                            {% if ans.id in given_ans %}
                                checked="checked"
                            {% endif %}
                            />
                    <label for="ans{{ans.id}}">{{ans}}</label>
                </div>
                {% endfor %}
        </li>
        {% endfor %}
    </ol>
    <button type="submit">Submit answers</button>
</form>
{% endblock %}